aiofiles
annotated-doc
annotated-types
anyio
bcrypt==4.0.1
certifi
cffi
charset-normalizer
click
colorama
cryptography
Deprecated
dnspython
ecdsa
email-validator
exceptiongroup
fastapi
fastapi-cli
greenlet
h11
httpcore
httptools
httpx
idna
Jinja2
limits
markdown-it-py
MarkupSafe
mdurl
orjson
packaging
passlib[bcrypt]==1.7.4
pdfminer.six
pdfplumber
pillow
psycopg2-binary
pyasn1
pycparser
pydantic
pydantic_core
pydantic-settings
Pygments
pypdfium2
pytesseract
python-dotenv
python-jose
python-multipart
PyYAML
rich
rich-toolkit
rsa
shellingham
six
slowapi
SQLAlchemy
starlette
tomli
typer
typing_extensions
ujson
uvicorn
watchfiles
websockets
wrapt
alembic
supabase
pyotp
qrcode[pil]